.carousel-inner .item {
    width: 1140px;
    height: 450px;
}
.featurette-divider {
   border-top: 1px solid #66bb6a;
}
.admin .table td {
    vertical-align: middle;
}
.admin .table.center td, .admin .table.center th{
    text-align: center;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.tickets {
    width: 100%;
}

.tickets-info-box {
    margin-top: 15px;
    margin-right: 0px;
}

.ticket-box {
    padding-left: 0px;
}

.checkbox-result {
    padding-top: 0px;
}
@media (max-width: 768px) {.tickets-info-box {margin-right: -30px;}}

.img-circle.game-image{
    width: 200px;
    margin-left: 135px;
}
